<mat-card>
    <mat-card-title>Novo Animal</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="animal.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Raça"
                [(ngModel)]="animal.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createAnimal()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

